<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Dashboard</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>COVID-19 DASHBOARD</h1>
    </header>
    <section class="section-form">
        <form action="/" method="post">
            <label for="country">Select Country</label>
            <select name="country" id="country">
            <option value="INDIA" selected>India</option>
            <% for(var i =0; i<countries.length; i++) { %>
                <% if(countries[i] && countries[i]!='India') { %>
                <option value="<%= countries[i] %>"><%= countries[i] %></option>
                <% } %>
                <% } %>
        </select>
            <br>
            <button type="submit">View Cases</button>
        </form>
    </section>
    <section class="information">
        <div>
            <h2>About</h2>
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.
                Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness. The best way to prevent and slow down transmission is be
                well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. The COVID-19 virus
                spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow). At this time,
                there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments.</p>
        </div>
        <div class="row">
            <div class="col span-1-of-2">
                <h2>Prevention</h2>
                <ul>
                    <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
                    <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
                    <li>Avoid touching your face.</li>
                    <li>Cover your mouth and nose when coughing or sneezing.</li>
                    <li>Stay home if you feel unwell.</li>
                    <li>Refrain from smoking and other activities that weaken the lungs.</li>
                    <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <h2>Symptoms</h2>
                <p>Common symptoms include:</p>
                <ul>
                    <li>fever</li>
                    <li>tiredness</li>
                    <li>dry cough.</li>
                </ul>
                <p>Other symptoms include:</p>
                <ul>
                    <li>shortness of breath</li>
                    <li>aches and pains</li>
                    <li>sore throat</li>
                    <li>and very few people will report diarrhoea, nausea or a runny nose.</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <p>Source <a href="https://www.who.int/" target="_blank">www.who.int</a> </p>
    </footer>
</body>

</html>